@import url('https://fonts.googleapis.com/css?family=Montserrat');

h1 {
  margin: 10px 0px 0px;
  float: none;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 44px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  margin: 10px 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  margin: -10px 0px 40px;
  font-family: 'Varela Round', sans-serif;
  color: #667073;
  font-size: 17px;
  line-height: 30px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

#map {
  height: 100%;
  width: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
  position: relative;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.hero-section {
  position: relative;
  z-index: 2;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: -webkit-linear-gradient(270deg, rgba(70, 77, 86, .5), rgba(70, 77, 86, .5)), url('images/Plumbing.jpg');
  background-image: linear-gradient(180deg, rgba(70, 77, 86, .5), rgba(70, 77, 86, .5)), url('images/Plumbing.jpg');
  background-position: 0px 0px, 50% 80%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.navbar {
  z-index: 1;
}

.bg {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url('images/Plumbing.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.logo-block {
  margin-bottom: 25px;
}

.logo-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.section-link {
  width: 50%;
  float: left;
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
}

.section-link:hover {
  color: #92d11c;
  text-decoration: none;
}

.section-link.right {
  border-right: 1px solid #d3d3d3;
  border-left-style: none;
}

.hero-heading-block {
  padding-top: 50px;
  margin-bottom: 25px;
}

.hero-heading {
  color: #fff;
  font-size: 30px;
  line-height: 32px;
}

.hero-sub-heading-block {
  padding-bottom: 50px;
}

.sub-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 22px;
  font-style: italic;
  font-weight: 300;
  text-transform: none;
}

.list-unstyled {
  list-style: none;
}

.hero-list {
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
}

.hero-image {
  width: 100%;
}

.image {
  float: right;
}

.button-block {
  display: block;
  margin-top: 25px;
  padding-right: 43%;
  padding-left: 43%;
}

.button {
  display: inline-block;
  padding: 9px 15px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  border-color: #236192;
  background-color: rgba(146, 209, 28, .5);
  color: #236192;
  text-decoration: none;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  height: 60px;
  background-color: #fff;
  border: none;
}

.navbar-brand {
  padding: 0px 0px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #236192;
}

.navbar-inverse .navbar-nav>li>a:active,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
  color: #92d11c;
  background-color: none;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  color: #92d11c;
  background-color: #fff;
}

.navbar-nav>li>a {
  padding-top: 21px;
  font-family: Montserrat, sans-serif;
}

.navbar-inverse .navbar-toggle {
  border: none;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-collapse {
  border-top: none;
  background-color: #fff;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-heading {
  color: #236192;
  font-size: 28px;
  line-height: 30px;
}

.section-sub-heading {
  color: #236192;
  font-style: italic;
  font-weight: 300;
  text-transform: none;
}

.row-image-block {
  display: block;
  margin-bottom: 10px;
}

.row-image {
  display: block;
  width: 64px;
  margin-right: auto;
  margin-left: auto;
}

.section-row {
  margin-top: 25px;
}

.row-header {
  height: 39px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  color: #236192;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 500;
}

.row-header.sub-heading {
  color: #92d11c;
}

.row-header.contact {
  margin-bottom: 15px;
}

.description {
  height: 160px;
}

.description-list {
  margin-bottom: 5px;
  font-family: Montserrat, sans-serif;
}

.column-2 {
  border-right: 1px solid #e9e9e9;
}

.services-block {
  height: 145px;
}

.row-sub-heading {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #92d11c;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}

.column-1 {
  border-right: 1px solid #e9e9e9;
}

.slider {
  z-index: 0;
  margin-top: 50px;
  background-color: transparent;
  position: relative;
  height: 300px;
  text-align: center;
  clear: both;
}

.quote-text {
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #236192;
  font-size: 24px;
  line-height: 36px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}

.quote-name {
  margin-top: 25px;
  font-family: Montserrat, sans-serif;
  color: #236192;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
}

.quote-place {
  margin-top: 10px;
  font-family: Montserrat, sans-serif;
  color: #236192;
  font-size: 16px;
  text-align: center;
}

.slide {
  padding-top: 35px;
  padding-bottom: 35px;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

label {
  font-family: Montserrat, sans-serif;
  color: #236192;
  font-weight: 400;
}

input, textarea {
  opacity: 0.5;
}

.radio-label {
  color: #92d11c;
}

.btn {
  border: 2px solid #236192;
  border-radius: 4px;
  background-color: transparent;
  color: #236192;
}

.btn:hover {
  background-color: rgba(146, 209, 28, .5);
  color: #236192;
}

.form-label {
  font-family: Montserrat, sans-serif;
  color: #236192;
  font-weight: 400;
}

.text-field {
  opacity: 0.5;
}

.radio label {
  color: #92d11c;
}

.submit-button {
  border: 2px solid #236192;
  border-radius: 4px;
  background-color: transparent;
  color: #236192;
}

.submit-button:hover {
  background-color: rgba(146, 209, 28, .5);
}

.contact-block {
  margin-top: 10px;
  float: none;
  height: 32px;
}

.contact-block.top {
  margin-top: 0px;
}

.contact-image-block {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  float: left;
}

.contact-image-block img {
  width: 32px;
  height: 32px;
}

.contact-text {
  width: 90%;
  float: left;
  font-family: Montserrat, sans-serif;
  line-height: 32px;
}

.map-block {
  height: 200px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 50px;
}

footer {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: visible;
  height: 60px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.footer-text {
  font-family: Montserrat, sans-serif;
}

.footer-text-block {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 991px) {

  .hero-list {
    font-size: 16px;
    line-height: 18px;
  }

  .button-block {
    padding-right: 41%;
    padding-left: 41%;
  }

  .row-sub-heading {
    margin-top: 20px;
  }

  .contact-block.top{
    height: 64px;
  }

  .contact-text {
    width: 80%;
  }

@media (max-width: 767px) {
  .hero-heading {
    font-size: 25px;
    line-height: 27px;
  }
  .sub-heading {
    font-size: 16px;
    line-height: 18px;
  }
  .hero-list {
    font-size: 14px;
    line-height: 16px;
  }
  .image {
    margin-top: -115px;
  }
  .button-block {
    padding-right: 37%;
    padding-left: 37%;
  }
  .row-image-block {
    margin-top: 25px;
  }
  .description {
    height: auto;
  }
  .description.alternate {
    height: auto;
  }
  .description-list {
    text-align: center;
  }
  .column-2 {
    margin-top: 10px;
    border-right-style: none;
  }
  .column-3 {
    margin-top: 10px;
  }
  .row-sub-heading {
    margin-top: 15px;
  }
  .column-1 {
    border-right-style: none;
  }
  .quote-text {
    padding-right: 10px;
    padding-left: 10px;
  }
  .contact-block.top{
    height: 32px;
  }

@media (max-width: 519px) {
  .button-block {
    padding-right: 36%;
    padding-left: 36%;
  }

@media (max-width: 479px) {
  .section-link {
    border-left-style: none;
  }
  .section-link.right {
    border-right-style: none;
  }
  .hero-list {
    text-align: center;
  }
  .image {
    display: block;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .button-block {
    padding-right: 33%;
    padding-left: 33%;
  }

  .section {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .description-list {
    font-size: 12px;
    line-height: 15px;
  }
  .services-block {
    height: 115px;
  }
  .services-block.boiler {
    height: 80px;
  }
  .quote-text {
    font-size: 16px;
    line-height: 20px;
  }
  .quote-name {
    margin-top: 15px;
    font-size: 18px;
    line-height: 20px;
  }
  .quote-place {
    margin-top: 5px;
    font-size: 14px;
    line-height: 16px;
  }
  .slide {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .contact-block {
    margin-top: 25px;
  }
}